body {
    font-family: Arial, sans-serif;
    background-color: #7cc220;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.content img {
    max-width: 45%;
    height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    background: #e2a918;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.links a:hover {
    background: #d55815;
}